<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">	
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<sessionState mode="Custom" customProvider="SqlInMemoryProvider" >
			<providers>
				<add name="SqlInMemoryProvider" type="Microsoft.Web.SessionState.SqlInMemoryProvider" xdt:Locator="Match(name)" xdt:Transform="Replace" connectionString="data source=10.2.3.16;initial catalog=ASPStateInMemory;user id=;password=" />
			</providers>
		</sessionState>
	</system.web>
</configuration>